// ------------------------- //
// 校園與媒體
// ------------------------- //
.iw_school-images-outer
  padding: 120px 0
  background-color: $cl-basic-0
  @include sz-small
    padding: 60px 0 40px
  .iw_mini-title
    text-align: center
    margin-bottom: 40px



  .iw_school-image-list
    margin-bottom: 40px