@charset "UTF-8";

* {
  box-sizing: border-box !important;
  outline: none;
  text-decoration: none;
  font-family: Inter, "PingFang TC", -apple-system, BlinkMacSystemFont, Arial, Microsoft JhengHei, 微軟正黑體, sans-serif !important;
  font-feature-settings: "calt" 1, "liga" 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  font-size: 14px;
}

body {
  line-height: 1.5;
}

a,
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a:focus,
a:hover {
  outline: none;
}

button {
  text-decoration: none;
  border: 0;
  transition: all 0.2s ease-in;
}

button:focus {
  outline: 0;
}

.iw_container {
  margin: 0 auto;
  width: calc(100% - 20px);
  padding: 0 10px;
}

@media screen and (min-width: 740px) {
  .iw_container {
    max-width: 740px;
  }
}

@media screen and (min-width: 1100px) {
  .iw_container {
    max-width: 1080px;
  }
}

.iw_container .iw_row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.iw_container .iw_col {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-1 {
    flex: 0 0 8.3333333333%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-2 {
    flex: 0 0 16.6666666667%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-3 {
    flex: 0 0 25%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-4 {
    flex: 0 0 33.3333333333%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-5 {
    flex: 0 0 41.6666666667%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-6 {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-7 {
    flex: 0 0 58.3333333333%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-8 {
    flex: 0 0 66.6666666667%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-9 {
    flex: 0 0 75%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-10 {
    flex: 0 0 83.3333333333%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-11 {
    flex: 0 0 91.6666666667%;
  }
}

@media screen and (min-width: 740px) {
  .iw_container .iw_col-12 {
    flex: 0 0 100%;
  }
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Regular.woff?da83100fc42a3c359ae8e3038a4a5e90) format("woff"), url("/font/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Inter-SemiBold.woff2?29ffb154034cf8fa1cec51557410cd9c) format("woff2"), url("/font/Inter-SemiBold.woff") format("woff");
}

.fz-h1 {
  font-size: 40px;
  line-height: 60px;
}

@media screen and (max-width: 740px) {
  .fz-h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

.fz-h2 {
  font-size: 36px;
  line-height: 54px;
}

@media screen and (max-width: 740px) {
  .fz-h2 {
    font-size: 28px;
    line-height: 42px;
  }
}

.fz-h3 {
  font-size: 32px;
  line-height: 48px;
}

@media screen and (max-width: 740px) {
  .fz-h3 {
    font-size: 26px;
    line-height: 39px;
  }
}

.fz-h4 {
  font-size: 28px;
  line-height: 42px;
}

@media screen and (max-width: 740px) {
  .fz-h4 {
    font-size: 24px;
    line-height: 36px;
  }
}

.fz-h5 {
  font-size: 24px;
  line-height: 36px;
}

@media screen and (max-width: 740px) {
  .fz-h5 {
    font-size: 22px;
    line-height: 33px;
  }
}

.fz-h6 {
  font-size: 20px;
  line-height: 30px;
}

.fz-h7 {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.fz-t1 {
  font-size: 16px;
  line-height: 32px;
}

.fz-t2 {
  font-size: 14px;
  line-height: 28px;
}

.fz-t3 {
  font-size: 12px;
  line-height: 24px;
}

.fz-tit {
  font-weight: 600;
}

.iw_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.iw_btn:focus,
.iw_btn:hover {
  outline: 0;
}

.iw_btn-lg {
  height: 48px;
  padding: 0 20px;
  border-radius: 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.iw_btn-lg .svg {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

.iw_btn-md {
  height: 40px;
  padding: 0 16px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.iw_btn-md .svg {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}

.iw_btn-sm {
  height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
}

.iw_btn-sm .svg {
  width: 18px;
  height: 18px;
  margin: 0 6px;
}

.iw_btn-xs {
  height: 24px;
  padding: 0 8px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
}

.iw_btn-xs .svg {
  width: 16px;
  height: 16px;
  margin: 0 6px;
}

.iw_btn-basic {
  color: #ffffff;
  background: #f4f5f5;
}

.iw_btn-basic:hover {
  background: #e7e9e9;
}

.iw_btn-basic.iw_disabled,
.iw_btn-basic:disabled {
  background: #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-basic.iw_disabled:hover,
.iw_btn-basic:disabled:hover {
  background: #f4f5f5;
}

.iw_btn-basic.iw_disabled .svg path,
.iw_btn-basic:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-primary {
  color: #ffffff;
  background: #009688;
}

.iw_btn-primary:hover {
  background: #007d71;
}

.iw_btn-primary.iw_disabled,
.iw_btn-primary:disabled {
  background: #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-primary.iw_disabled:hover,
.iw_btn-primary:disabled:hover {
  background: #f4f5f5;
}

.iw_btn-primary.iw_disabled .svg path,
.iw_btn-primary:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-info {
  color: #ffffff;
  background: #4a90e2;
}

.iw_btn-info:hover {
  background: #3483de;
}

.iw_btn-info.iw_disabled,
.iw_btn-info:disabled {
  background: #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-info.iw_disabled:hover,
.iw_btn-info:disabled:hover {
  background: #f4f5f5;
}

.iw_btn-info.iw_disabled .svg path,
.iw_btn-info:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-success {
  color: #ffffff;
  background: #5ec562;
}

.iw_btn-success:hover {
  background: #4bbe50;
}

.iw_btn-success.iw_disabled,
.iw_btn-success:disabled {
  background: #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-success.iw_disabled:hover,
.iw_btn-success:disabled:hover {
  background: #f4f5f5;
}

.iw_btn-success.iw_disabled .svg path,
.iw_btn-success:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-warning {
  color: #ffffff;
  background: #f7b500;
}

.iw_btn-warning:hover {
  background: #dea200;
}

.iw_btn-warning.iw_disabled,
.iw_btn-warning:disabled {
  background: #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-warning.iw_disabled:hover,
.iw_btn-warning:disabled:hover {
  background: #f4f5f5;
}

.iw_btn-warning.iw_disabled .svg path,
.iw_btn-warning:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-danger {
  color: #ffffff;
  background: #ff4f65;
}

.iw_btn-danger:hover {
  background: #ff364f;
}

.iw_btn-danger.iw_disabled,
.iw_btn-danger:disabled {
  background: #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-danger.iw_disabled:hover,
.iw_btn-danger:disabled:hover {
  background: #f4f5f5;
}

.iw_btn-danger.iw_disabled .svg path,
.iw_btn-danger:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-basic {
  color: #5d605e;
}

.iw_btn-outline-basic {
  color: #5d605e;
  border: 1px solid #ebeceb;
  background: #ffffff;
}

.iw_btn-outline-basic:hover {
  background: #f4f5f5;
}

.iw_btn-outline-basic.iw_disabled,
.iw_btn-outline-basic:disabled {
  border: 1px solid #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-outline-basic.iw_disabled:hover,
.iw_btn-outline-basic:disabled:hover {
  background: #ffffff;
}

.iw_btn-outline-basic.iw_disabled .svg path,
.iw_btn-outline-basic:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-outline-primary {
  color: #009688;
  border: 1px solid #ebeceb;
  background: #ffffff;
}

.iw_btn-outline-primary:hover {
  background: #f4f5f5;
}

.iw_btn-outline-primary.iw_disabled,
.iw_btn-outline-primary:disabled {
  border: 1px solid #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-outline-primary.iw_disabled:hover,
.iw_btn-outline-primary:disabled:hover {
  background: #ffffff;
}

.iw_btn-outline-primary.iw_disabled .svg path,
.iw_btn-outline-primary:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-outline-info {
  color: #4a90e2;
  border: 1px solid #ebeceb;
  background: #ffffff;
}

.iw_btn-outline-info:hover {
  background: #f4f5f5;
}

.iw_btn-outline-info.iw_disabled,
.iw_btn-outline-info:disabled {
  border: 1px solid #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-outline-info.iw_disabled:hover,
.iw_btn-outline-info:disabled:hover {
  background: #ffffff;
}

.iw_btn-outline-info.iw_disabled .svg path,
.iw_btn-outline-info:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-outline-success {
  color: #5ec562;
  border: 1px solid #ebeceb;
  background: #ffffff;
}

.iw_btn-outline-success:hover {
  background: #f4f5f5;
}

.iw_btn-outline-success.iw_disabled,
.iw_btn-outline-success:disabled {
  border: 1px solid #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-outline-success.iw_disabled:hover,
.iw_btn-outline-success:disabled:hover {
  background: #ffffff;
}

.iw_btn-outline-success.iw_disabled .svg path,
.iw_btn-outline-success:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-outline-warning {
  color: #f7b500;
  border: 1px solid #ebeceb;
  background: #ffffff;
}

.iw_btn-outline-warning:hover {
  background: #f4f5f5;
}

.iw_btn-outline-warning.iw_disabled,
.iw_btn-outline-warning:disabled {
  border: 1px solid #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-outline-warning.iw_disabled:hover,
.iw_btn-outline-warning:disabled:hover {
  background: #ffffff;
}

.iw_btn-outline-warning.iw_disabled .svg path,
.iw_btn-outline-warning:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-outline-danger {
  color: #ff4f65;
  border: 1px solid #ebeceb;
  background: #ffffff;
}

.iw_btn-outline-danger:hover {
  background: #f4f5f5;
}

.iw_btn-outline-danger.iw_disabled,
.iw_btn-outline-danger:disabled {
  border: 1px solid #f4f5f5;
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-outline-danger.iw_disabled:hover,
.iw_btn-outline-danger:disabled:hover {
  background: #ffffff;
}

.iw_btn-outline-danger.iw_disabled .svg path,
.iw_btn-outline-danger:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-ghost-basic {
  color: #5d605e;
  background: #ffffff;
}

.iw_btn-ghost-basic:hover {
  background: #f4f5f5;
}

.iw_btn-ghost-basic.iw_disabled,
.iw_btn-ghost-basic:disabled {
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-ghost-basic.iw_disabled:hover,
.iw_btn-ghost-basic:disabled:hover {
  background: #ffffff;
}

.iw_btn-ghost-basic.iw_disabled .svg path,
.iw_btn-ghost-basic:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-ghost-primary {
  color: #009688;
  background: #ffffff;
}

.iw_btn-ghost-primary:hover {
  background: #f4f5f5;
}

.iw_btn-ghost-primary.iw_disabled,
.iw_btn-ghost-primary:disabled {
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-ghost-primary.iw_disabled:hover,
.iw_btn-ghost-primary:disabled:hover {
  background: #ffffff;
}

.iw_btn-ghost-primary.iw_disabled .svg path,
.iw_btn-ghost-primary:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-ghost-info {
  color: #4a90e2;
  background: #ffffff;
}

.iw_btn-ghost-info:hover {
  background: #f4f5f5;
}

.iw_btn-ghost-info.iw_disabled,
.iw_btn-ghost-info:disabled {
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-ghost-info.iw_disabled:hover,
.iw_btn-ghost-info:disabled:hover {
  background: #ffffff;
}

.iw_btn-ghost-info.iw_disabled .svg path,
.iw_btn-ghost-info:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-ghost-success {
  color: #5ec562;
  background: #ffffff;
}

.iw_btn-ghost-success:hover {
  background: #f4f5f5;
}

.iw_btn-ghost-success.iw_disabled,
.iw_btn-ghost-success:disabled {
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-ghost-success.iw_disabled:hover,
.iw_btn-ghost-success:disabled:hover {
  background: #ffffff;
}

.iw_btn-ghost-success.iw_disabled .svg path,
.iw_btn-ghost-success:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-ghost-warning {
  color: #f7b500;
  background: #ffffff;
}

.iw_btn-ghost-warning:hover {
  background: #f4f5f5;
}

.iw_btn-ghost-warning.iw_disabled,
.iw_btn-ghost-warning:disabled {
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-ghost-warning.iw_disabled:hover,
.iw_btn-ghost-warning:disabled:hover {
  background: #ffffff;
}

.iw_btn-ghost-warning.iw_disabled .svg path,
.iw_btn-ghost-warning:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-ghost-danger {
  color: #ff4f65;
  background: #ffffff;
}

.iw_btn-ghost-danger:hover {
  background: #f4f5f5;
}

.iw_btn-ghost-danger.iw_disabled,
.iw_btn-ghost-danger:disabled {
  cursor: not-allowed;
  color: #d7d9d8;
}

.iw_btn-ghost-danger.iw_disabled:hover,
.iw_btn-ghost-danger:disabled:hover {
  background: #ffffff;
}

.iw_btn-ghost-danger.iw_disabled .svg path,
.iw_btn-ghost-danger:disabled .svg path {
  fill: #d7d9d8;
}

.iw_btn-icon-left .svg {
  margin-left: 0;
}

.iw_btn-icon-right .svg {
  margin-right: 0;
}

.iw_btn-icon {
  padding: 0;
}

.iw_btn-icon.iw_btn-lg .svg {
  margin: 0 12px;
}

.iw_btn-icon.iw_btn-md .svg {
  margin: 0 10px;
}

.iw_btn-icon.iw_btn-sm .svg {
  margin: 0 8px;
}

.iw_btn-icon.iw_btn-xs .svg {
  margin: 0 6px;
}

.iw_badge {
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 0.15em 0.45em;
  border-radius: 24px;
  vertical-align: text-top;
  text-align: center;
  margin-left: 8px;
}

.iw_badge-basic {
  color: #ffffff;
  background: #5d605e;
}

.iw_badge-primary {
  color: #ffffff;
  background: #009688;
}

.iw_badge-info {
  color: #ffffff;
  background: #4a90e2;
}

.iw_badge-success {
  color: #ffffff;
  background: #5ec562;
}

.iw_badge-warning {
  color: #ffffff;
  background: #f7b500;
}

.iw_badge-danger {
  color: #ffffff;
  background: #ff4f65;
}

input[type=checkbox] {
  cursor: pointer;
  appearance: none;
  display: inline-flex;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  margin-right: 8px;
}

.iw_checkbox-layout {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.iw_checkbox-layout label {
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.iw_checkbox-layout input::before {
  content: "";
  display: block;
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #f9fafa;
  border: 1px solid #ebeceb;
  box-sizing: border-box;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in-out;
}

.iw_checkbox-layout input:checked::before {
  content: "\2713";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.iw_checkbox-layout input:indeterminate::before {
  content: "\FF0D";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.iw_checkbox-basic input:hover::before {
  box-shadow: 0 0 0 3px rgba(93, 96, 94, 0.2);
}

.iw_checkbox-basic input:checked::before {
  background: #5d605e;
  border: 1px solid #5d605e;
}

.iw_checkbox-basic input:indeterminate::before {
  background: #5d605e;
  border: 1px solid #5d605e;
}

.iw_checkbox-basic.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_checkbox-basic.iw_disabled input {
  cursor: not-allowed;
}

.iw_checkbox-basic.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_checkbox-basic.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_checkbox-basic.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_checkbox-primary input:hover::before {
  box-shadow: 0 0 0 3px rgba(0, 150, 136, 0.2);
}

.iw_checkbox-primary input:checked::before {
  background: #009688;
  border: 1px solid #009688;
}

.iw_checkbox-primary input:indeterminate::before {
  background: #009688;
  border: 1px solid #009688;
}

.iw_checkbox-primary.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_checkbox-primary.iw_disabled input {
  cursor: not-allowed;
}

.iw_checkbox-primary.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_checkbox-primary.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_checkbox-primary.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_checkbox-info input:hover::before {
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.iw_checkbox-info input:checked::before {
  background: #4a90e2;
  border: 1px solid #4a90e2;
}

.iw_checkbox-info input:indeterminate::before {
  background: #4a90e2;
  border: 1px solid #4a90e2;
}

.iw_checkbox-info.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_checkbox-info.iw_disabled input {
  cursor: not-allowed;
}

.iw_checkbox-info.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_checkbox-info.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_checkbox-info.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_checkbox-success input:hover::before {
  box-shadow: 0 0 0 3px rgba(94, 197, 98, 0.2);
}

.iw_checkbox-success input:checked::before {
  background: #5ec562;
  border: 1px solid #5ec562;
}

.iw_checkbox-success input:indeterminate::before {
  background: #5ec562;
  border: 1px solid #5ec562;
}

.iw_checkbox-success.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_checkbox-success.iw_disabled input {
  cursor: not-allowed;
}

.iw_checkbox-success.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_checkbox-success.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_checkbox-success.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_checkbox-warning input:hover::before {
  box-shadow: 0 0 0 3px rgba(247, 181, 0, 0.2);
}

.iw_checkbox-warning input:checked::before {
  background: #f7b500;
  border: 1px solid #f7b500;
}

.iw_checkbox-warning input:indeterminate::before {
  background: #f7b500;
  border: 1px solid #f7b500;
}

.iw_checkbox-warning.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_checkbox-warning.iw_disabled input {
  cursor: not-allowed;
}

.iw_checkbox-warning.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_checkbox-warning.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_checkbox-warning.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_checkbox-danger input:hover::before {
  box-shadow: 0 0 0 3px rgba(255, 79, 101, 0.2);
}

.iw_checkbox-danger input:checked::before {
  background: #ff4f65;
  border: 1px solid #ff4f65;
}

.iw_checkbox-danger input:indeterminate::before {
  background: #ff4f65;
  border: 1px solid #ff4f65;
}

.iw_checkbox-danger.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_checkbox-danger.iw_disabled input {
  cursor: not-allowed;
}

.iw_checkbox-danger.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_checkbox-danger.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_checkbox-danger.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

input[type=radio] {
  cursor: pointer;
  appearance: none;
  display: inline-flex;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  margin-right: 8px;
}

.iw_radio-layout label {
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.iw_radio-layout input::before {
  content: "";
  display: block;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #f9fafa;
  border: 1px solid #ebeceb;
  box-sizing: border-box;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in-out;
}

.iw_radio-layout input:checked::after {
  content: "";
  display: block;
  min-width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  left: -15px;
  top: 5px;
}

.iw_radio-basic input:hover::before {
  box-shadow: 0 0 0 3px rgba(93, 96, 94, 0.2);
}

.iw_radio-basic input:checked::before {
  background: #5d605e;
  border: 1px solid #5d605e;
}

.iw_radio-basic input:checked::after {
  box-shadow: 0 0 6px rgba(73, 75, 74, 0.5);
}

.iw_radio-basic.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_radio-basic.iw_disabled input {
  cursor: not-allowed;
}

.iw_radio-basic.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_radio-basic.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_radio-basic.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_radio-basic.iw_disabled input:checked::after {
  box-shadow: 0 0 6px rgba(156, 160, 158, 0.5);
}

.iw_radio-primary input:hover::before {
  box-shadow: 0 0 0 3px rgba(0, 150, 136, 0.2);
}

.iw_radio-primary input:checked::before {
  background: #009688;
  border: 1px solid #009688;
}

.iw_radio-primary input:checked::after {
  box-shadow: 0 0 6px rgba(0, 109, 99, 0.5);
}

.iw_radio-primary.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_radio-primary.iw_disabled input {
  cursor: not-allowed;
}

.iw_radio-primary.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_radio-primary.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_radio-primary.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_radio-primary.iw_disabled input:checked::after {
  box-shadow: 0 0 6px rgba(156, 160, 158, 0.5);
}

.iw_radio-info input:hover::before {
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.iw_radio-info input:checked::before {
  background: #4a90e2;
  border: 1px solid #4a90e2;
}

.iw_radio-info input:checked::after {
  box-shadow: 0 0 6px rgba(39, 122, 220, 0.5);
}

.iw_radio-info.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_radio-info.iw_disabled input {
  cursor: not-allowed;
}

.iw_radio-info.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_radio-info.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_radio-info.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_radio-info.iw_disabled input:checked::after {
  box-shadow: 0 0 6px rgba(156, 160, 158, 0.5);
}

.iw_radio-success input:hover::before {
  box-shadow: 0 0 0 3px rgba(94, 197, 98, 0.2);
}

.iw_radio-success input:checked::before {
  background: #5ec562;
  border: 1px solid #5ec562;
}

.iw_radio-success input:checked::after {
  box-shadow: 0 0 6px rgba(66, 184, 71, 0.5);
}

.iw_radio-success.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_radio-success.iw_disabled input {
  cursor: not-allowed;
}

.iw_radio-success.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_radio-success.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_radio-success.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_radio-success.iw_disabled input:checked::after {
  box-shadow: 0 0 6px rgba(156, 160, 158, 0.5);
}

.iw_radio-warning input:hover::before {
  box-shadow: 0 0 0 3px rgba(247, 181, 0, 0.2);
}

.iw_radio-warning input:checked::before {
  background: #f7b500;
  border: 1px solid #f7b500;
}

.iw_radio-warning input:checked::after {
  box-shadow: 0 0 6px rgba(206, 151, 0, 0.5);
}

.iw_radio-warning.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_radio-warning.iw_disabled input {
  cursor: not-allowed;
}

.iw_radio-warning.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_radio-warning.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_radio-warning.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_radio-warning.iw_disabled input:checked::after {
  box-shadow: 0 0 6px rgba(156, 160, 158, 0.5);
}

.iw_radio-danger input:hover::before {
  box-shadow: 0 0 0 3px rgba(255, 79, 101, 0.2);
}

.iw_radio-danger input:checked::before {
  background: #ff4f65;
  border: 1px solid #ff4f65;
}

.iw_radio-danger input:checked::after {
  box-shadow: 0 0 6px rgba(255, 38, 65, 0.5);
}

.iw_radio-danger.iw_disabled {
  color: #d7d9d8;
  cursor: not-allowed;
}

.iw_radio-danger.iw_disabled input {
  cursor: not-allowed;
}

.iw_radio-danger.iw_disabled input::before {
  background: #f9fafa;
  border: 1px solid #f4f5f5;
  box-shadow: none;
}

.iw_radio-danger.iw_disabled input:hover::before {
  box-shadow: none;
  border: 1px solid #f4f5f5;
}

.iw_radio-danger.iw_disabled input:checked::before {
  background: #d7d9d8;
  border: 1px solid #d7d9d8;
}

.iw_radio-danger.iw_disabled input:checked::after {
  box-shadow: 0 0 6px rgba(156, 160, 158, 0.5);
}

.iw_label-basic {
  color: #5d605e;
  border-radius: 4px;
  padding: 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iw_label-primary {
  color: #00877a;
  border-radius: 4px;
  padding: 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iw_label-info {
  color: #4281cb;
  border-radius: 4px;
  padding: 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iw_label-success {
  color: #54b158;
  border-radius: 4px;
  padding: 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iw_label-warning {
  color: #dea200;
  border-radius: 4px;
  padding: 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iw_label-danger {
  color: #e5475a;
  border-radius: 4px;
  padding: 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.iw_label-basic {
  background: #f4f5f5;
}

.iw_label-primary {
  background: #e5f4f3;
}

.iw_label-info {
  background: #ecf3fc;
}

.iw_label-success {
  background: #eef9ef;
}

.iw_label-warning {
  background: #fef7e5;
}

.iw_label-danger {
  background: #ffedef;
}

body {
  background: #f4f5f5;
}

.guide-layout {
  margin: 0 auto;
  padding: 20px 0;
}

.guide-layout .guide-box {
  background: #ffffff;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 20px;
  border-radius: 12px;
}

.guide-layout h3 {
  width: 100%;
}

.guide-layout .guide-component {
  padding: 20px 32px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.guide-layout .guide-info {
  padding: 20px 32px;
  background: #212121;
  border-radius: 8px;
  color: #ffffff;
}

.guide-layout .guide-info strong {
  color: #ff4f65;
  margin-left: 10px;
}

.guide-layout .guide-component-box {
  width: calc((100% / 3) - 20px);
  margin-bottom: 40px;
}

.guide-layout .guide-component-box .iw_radio-layout {
  display: flex;
  flex-direction: column;
}

.guide-layout .iw_row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.guide-layout .card {
  background: #fad266;
  color: #946c00;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

