// Framework grid generation

.iw_container
  margin: 0 auto
  width: calc(100% - 20px)
  padding: 0 ($grid-gutter-width / 2)
  
  @include breakpoint-min(md)
    max-width: 740px
  @include breakpoint-min(lg)
    max-width: 1080px



  .iw_row
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    margin-right: -10px
    margin-left: -10px


  .iw_col
    width: 100%
    padding-left: $column-gutter
    padding-right: $column-gutter


  // col-1 ~ col-12
  @for $i from 1 through $grid-columns
    @include breakpoint-min(md)
      .iw_col-#{$i}
        flex: 0 0 (100 / ($grid-columns/ $i)) * 1%





